.deer-map {
  background-size: 25px 25px;
  background-color: rgba(#e0e0e0, 0.5);
  background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
    linear-gradient(to bottom, #ddd 1px, transparent 1px);

  .deer-map__root-node {
  }
  .deer-map__branch {
  }
  .deer-map__branch__path {
  }
}
